Q1. Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a comma-separated sequence on a single line. Hints: Consider use range(#begin, #end) method

In [145]:
c=0
for i in range(2000,3201):
    if i%7==0 and i%5!=0 :
        print(i,end=",")
        c=c+1
    else:
        pass
print("\n","total numbers are :",c)

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199,
 total numbers are : 138

Q2. Write a program which can compute the factorial of a given numbers. The results should be printed in a comma-separated sequence on a single line.Suppose the input is supplied to the program: 8 Then, the output should be: 40320 Hints: In case of input data being supplied to the question, it should be assumed to be a console input.

In [60]:
def get_fact(num):
    if num==0:
        return 1
    elif num==1:
        return 1
    else:
        return num*get_fact(num-1)
x= int(input('enter any number:'))
print (get_fact(x))

enter any number:8
40320

Q3.With a given integral number n, write a program to generate a dictionary that contains (i, i*i) such that is an integral number between 1 and n (both included) and then the program should print the dictionary. Suppose the input is supplied to the program: 8 Then, the output should be: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64} Hints: In case of input data being supplied to the question, it should be assumed to be a console input. Consider use dict()

In [109]:
n=int(input("enter number :"))
dict={}
for i in range(1,n+1):
    dict[i]=i*i
print(dict)

enter number :8
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

Q4.Write a program which accepts a sequence of comma-separated numbers from console and generate a list and a tuple which contains every number. Suppose the input is supplied to the program: 34, 67, 55, 33, 12, 98 Then, the output should be: ['34', '67', '55', '33', '12', '98'] ('34', '67', '55', '33', '12', '98') Hints: In case of input data being supplied to the question, it should be assumed to be a console input.tuple() method can convert list to tuple

In [8]:
seq=input("enter numbers").split(",")
listy=[]
for i in seq:
    listy.append(i)
print(listy)
tuply=tuple(listy)
tuply

enter numbers34,67,55,33,12,98
['34', '67', '55', '33', '12', '98']

('34', '67', '55', '33', '12', '98')

Q5. Define a class which has at least two methods: getString: to get a string from console input printString: to print the string in upper case. Also please include simple test function to test the class methods. Hints: Use __init__ method to construct some parameters

In [39]:
class String():
    def __init__(self):
        self.s = ""

    def get_String(self):
        self.s = input()

    def print_String(self):
        print(self.s.upper())

s = String()
s.get_String()
s.print_String()

abhishek dubey
ABHISHEK DUBEY

Q6. Write a program that calculates and prints the value according to the given formula: 
Q = Square root of [(2 * C * D)/H] 
Following are the fixed values of C and H: C is 50. H is 30. 
D is the variable whose values should be input to your program in a comma-separated sequence. 
Let us assume the following comma separated input sequence is given to the program: 100,150,180 
The output of the program should be: 18, 22, 24 
Hints: If the output received is in decimal form, it should be rounded off to its nearest value (for example, if the output received is 26.0, it should be printed as 26) 
In case of input data being supplied to the question, it should be assumed to be a console input.

In [17]:
import math

num = input("enter the numbers :").split(",")
listy = []
for D in num:
    Q =round(math.sqrt(2 * 50 * int(D) / 30))
    listy.append(Q)

print(listy)

enter the numbers :100,150,180
[18, 22, 24]

Q7. Write a program which takes 2 digits, X,Y as input and generates a 2-dimensional array. The element value in the i-th row and j-th column of the array should be i*j. 
Note: i=0,1.., X-1; j=0,1,Â¡Y-1. 
Suppose the following inputs are given to the program: 3, 5 
Then, the output of the program should be: [[0, 0, 0, 0, 0], [0, 1, 2, 3, 4], [0, 2, 4, 6, 8]] 
Hints: In case of input data being supplied to the question, it should be assumed to be a console input in a comma-separated form.

In [36]:
X = int(input("Input number of rows: "))
Y = int(input("Input number of columns: "))
multi_list = [[0 for col in range(Y)] for row in range(X)]

for row in range(X):
    for col in range(Y):
        multi_list[row][col]= row*col

print(multi_list)

Input number of rows: 3
Input number of columns: 5
[[0, 0, 0, 0, 0], [0, 1, 2, 3, 4], [0, 2, 4, 6, 8]]

Q8. Write a program that accepts a comma separated sequence of words as input and prints the words in a comma-separated sequence after sorting them alphabetically. 
Suppose the input is supplied to the program: without, hello, bag, world 
Then, the output should be: bag, hello, without, world 
Hints: In case of input data being supplied to the question, it should be assumed to be a console input.

In [41]:
word = input("enter your desired words :" ).split(",")
word.sort()
print(word)

enter your desired words :without,hello,bag,world
['bag', 'hello', 'without', 'world']

Q9. Write a program that accepts sequence of lines as input and prints the lines after making all characters in the sentence capitalized.

Suppose the input is supplied to the program: Hello world 
Practice makes perfect 
Then, the output should be: HELLO WORLD 
PRACTICE MAKES PERFECT 
Hints: In case of input data being supplied to the question, it should be assumed to be a console input.

In [50]:
listy = []
while True:
    lines = input("Enter Lines :")
    if lines:
        listy.append(lines.upper())
    else:
        break
for i in listy:
    print(i)
#Leave input blank to stop

Enter Lines :Hello world Practice makes perfect
Enter Lines :
HELLO WORLD PRACTICE MAKES PERFECT

10. Write a program that accepts a sequence of whitespace separated words as input and prints the words after removing all duplicate words and sorting them alphanumerically. 
Suppose the input is supplied to the program: hello world and practice makes perfect and hello world again 
Then, the output should be: again and hello makes perfect practice world 
Hints: In case of input data being supplied to the question, it should be assumed to be a console input. We use set container to remove duplicated data automatically and then use sorted() to sort the data.

In [53]:
white = input("Enter your desired words :").split(" ")

listy = []
for i in white:
    if i not in listy:
        listy.append(i)
    else:
        continue
listy.sort()
print(listy)

Enter your desired words :hello world and practice makes perfect and hello world again
['again', 'and', 'hello', 'makes', 'perfect', 'practice', 'world']